<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Covid 19 Tracker Country Wice</h1>
    <hr>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vero blanditiis esse, dolor cum
        quasi ratione ipsa! Dicta non quam commodi hic qui similique sapiente! Voluptatibus rerum esse aut vitae.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum et provident architecto, voluptatibus ipsam
        nihil libero, unde, aut ut nemo pariatur. Deserunt perferendis accusamus, recusandae iusto voluptatibus facilis
        harum blanditiis.</p>
</div>